.container {
    width: 80%;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Sigmar One', cursive;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}


#main-bio {
    width: 70;
 }

header {
    background: #343a40;
}

header after {
    content: '';
    display: table;
    clear: both;
}

.name {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: #000000
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%; 
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #343a40;
    color: black;
    float: left;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
 }


 .wrapper {
     width: 600px;
     padding-bottom: 30px;
     margin: 0 auto;
}


